@import "/home/johannes/.config/waybar/mocha.css";
* {
    border: none;
    border-radius: 20px;
    font-family: "Hack Nerd Font Mono Bold";
    font-size: 10px;
    min-height: 0;
}

/*Entire Bar*/
#waybar {
  background: transparent;
  color: @text;
}

/*workspaces*/
#workspaces * {
  font-size: 10px;
}
#workspaces button label{
    color: 	#ffffff;
    font-weight: bolder;
}
#workspaces button.active label{
    color: #000000;
    font-weight: bolder;
}
#workspaces{
    background-color: transparent;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 5px;
}
#workspaces button{
    box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
    background-color: #000000;
    border-radius: 15px;
    margin-right: 10px;
    padding: 10px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-weight: bolder;
    color: 	#ffffff ;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
}
#workspaces button.active{
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
    padding-left: 20px;
    padding-bottom: 3px;
    background: #ff0000;
    background-size: 400% 400%;
    animation: gradient_f 20s ease-in-out infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

/*systemtray*/
#tray {
    background-color: transparent;
    background: #000000;
    background-size: 400% 400%;
    animation: gradient_f 20s ease-in-out infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 5px;
    margin-left: 10px;
    padding: 10px;
    padding-top: 4px;
    padding-bottom: 3px;
}

/*audio*/
#pulseaudio {
    background-color: transparent;
    color: @sapphire;
    background: #000000;
    animation: gradient_f 20s ease-in-out infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;
}

/*clock*/
#clock {
    font-size: 10px;
    background-color: transparent;
    color: #ffffff;
    background: #000000;
    animation: gradient_f 20s ease-in-out infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
}

#network {
    font-size: 10px;
    background-color: transparent;
    color: @rosewater;
    background: #000000;
    animation: gradient_f 20s ease-in-out infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-right: 20px;
    padding-left: 5px;
    margin-right: 10px;
}

#cpu {
    background-color: transparent;
    color: @red;
    background: #000000;
    animation: gradient_f 20s ease-in-out infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-right: 5px;
    padding-left: 20px;
}

#memory {
    background-color: transparent;
    color: @peach;
    background: #000000;
    animation: gradient_f 20s ease-in-out infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;
}

#backlight {
    background-color: transparent;
    color: @yellow;
    background: #000000;
    animation: gradient_f 20s ease-in-out infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;
}

#battery {
    background-color: transparent;
    color: @green;
    background: #000000;
    animation: gradient_f 20s ease-in-out infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;
}
