#window {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#entry {
    background-color: #000000;
}

#entry:selected {
    background-color: #AA0000;
}
